.pwd-form {
  margin: 30rpx;
  background-color: #fff;
  border-radius: 20rpx;
  height: 800rpx;
  text-align: center;
  padding: 60rpx;
  .title {
    font-size: 36rpx;
  }
  .desc {
    margin-top: 10rpx;
    font-size: 28rpx;
  }
  .input-box {
    margin-top: 40rpx;
    .password {
      margin:  0 auto;
    }
    input {
      border: 2rpx solid #B4B4B4;
      text-align: left;
      font-size: 34rpx;
      border-radius: 10rpx;
      padding: 15rpx 20rpx;
    }
  }
  .input-button {
    margin: 80rpx auto 0;
    min-width: 200rpx;
    height: 88rpx;
    background-color: transparent;
    line-height: 88rpx;
    font-size: 30rpx;
    color: #0CE0B5;
    &:after {
      display: none;
    }
    &[disabled] {
      background-color: transparent;
      color: $text-gray;
    }
  }
}