.select-store-card{
  width:710rpx;
  background:rgba(255,255,255,1);
  border-radius:10rpx;
  z-index: 9;
  padding: 0 20rpx;
  box-sizing: border-box;
  margin-top: 20rpx;
  &__title{
    height:80rpx;
    line-height: 80rpx;
    font-size:28rpx;
    color:#999999;
    border-bottom:2rpx solid #EDEDED;
  }
}
