.lj-form-preview {
  margin-top: 20rpx;
  &:before,
  &:after {
    display: none;
  }
  .weui-form-preview {
    &__bd {
      padding-top: 0rpx;
      padding-bottom: 0rpx;
    }
    &__item {
      line-height: 88rpx;
    }
    &__label {
      font-size: 28rpx;
      color: $text-black;
      text-align: left;
      text-align-last: left;
    }
    &__value {
      font-size: 28rpx;
    }
  }
}